body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.content {
    padding: 20px;
}

.article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.article h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.article p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1rem;
}

.article small {
    color: #888;
    font-size: 0.8rem;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

@media (min-width: 768px) {
    .header {
        padding: 20px 0;
    }

    .header h1 {
        font-size: 2rem;
    }

    .content {
        padding: 40px;
    }

    .article {
        padding: 30px;
    }

    .article h2 {
        font-size: 1.5rem;
    }

    .article p {
        font-size: 1.1rem;
    }

    .article small {
        font-size: 0.9rem;
    }

    footer {
        padding: 40px;
    }
}
